* {
  box-sizing: border-box;
}

.taskbar {
  display: block;
  width: 250px;
  height: 90vh;
  background-color: white;
  /* background-color: #85e4e4; */
  padding: 2em;
  text-align: left;
  box-shadow: 10px 0px 1em 0em #85e4e4;
}

.taskbar button {
  background-color: #85e4e4;
  border: none;
  display: block;
  margin: 2em 0;
  font-weight: bold;
  border-radius: 10px;
  padding: 1em;
  cursor: pointer;
  width: 100%;
  transition: width 5s ease;
}

.taskbar button:hover {
  border: 2px solid black;
  /* margin: 2px solid black; */
}

.filterCard {
  /* border: 2px solid black; */
  margin-top: 1em;
}
.filterCard div {
  padding: 1em 0;
}
.filterCard button {
  margin: 1em 0;
}

label {
  font-size: 1.2em;
}

.taskBarDiv .hamburger {
  display: none;
  position: absolute;
  left: 5px;
  top: 6.2em;
  cursor: pointer;
}

.taskBarDiv .hamburger span {
  width: 2em;
  margin-bottom: 5px;
  display: block;
  height: 2px;
  background-color: black;
  /* transform-origin: 0% 0%; */
  /* border-bottom: 2px solid black; */
}

@media all and (max-width: 900px) {
  .taskbarDisp {
    padding: 0;
    width: 0;
    overflow: hidden;
  }
  .taskBarDiv .hamburger {
    display: block;
    z-index: 50;
  }

  .oneC {
    transform: translate(0em, 0.25em) rotate(45deg);
  }
  .twoC {
    transform: translate(0em, -0.25em) rotate(-45deg);
  }
  .threeC {
    transform: scale(0.1);
  }
}

@media all and (max-width: 800px) {
  .taskbar {
    position: absolute;
    left: 0;
  }
}
